.createnoteWrapper{
    flex: 9;
    display: flex;
    justify-content: center;
}   

.createnoteAddInput{
    padding: 8px;
    position: relative;
    border-radius: 10px;
    width: 50%;
    border: 2px solid #888888;
    box-shadow:    2px  1px 5px 2px #888888;;
    height: 20%;
    z-index: 5;
    display: flex;
    flex-direction: column;
    margin-top: 25px;

}
.createnoteAddInput input{
    border-radius: 8px;
    width: 98% ;
  padding: 10px 5px;
  border: none;
  font-size: 0.8rem;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bolder;
letter-spacing: 1.2px;
    outline: none;


}
.pinNote{
    position: absolute;
    color: #636e72;
    top: 10px;
    right: 20px;
}
.createnoteIcons{
text-align: end;
padding-right: 0px;
    width: 95%;
}
 .createnoteIconsUl > i{
     margin: 0 10px;
    
} 
button{
    padding: 5px 8px;
    background-color: green;
    color: white;
    border-radius: 6px;
    outline: none;
    border:none;
}